extends /layout

block title
  title Anthony Rey

block body
  h1 Anthony Rey
  p Passionate Software Crafter
  section
    h2 about:me
    p I'm just a developer, I code visual interfaces using SCSS and Pug for graphics and TypeScript for dynamic. I like #[a(href='http://blog.ippon.fr/2021/02/08/type-driven-development/') TDD] but also #[a(href='https://en.wikipedia.org/wiki/Test-driven_development') TDD] and #[a(href='https://en.wikipedia.org/wiki/Domain-driven_design') DDD]. You can find me on #[a(href='https://www.linkedin.com/in/anthonyrey/') Linkedin] to read my CV.
  section
    h2 about:articles
    p I wrote #[a(href='https://blog.ippon.fr/author/anthony/') some blog posts] on Ippon Technologies company blog, you may like to read them.
  section
    h2 about:lives
    p I like to share knowledge through #[a(href='https://codingdojo.org/kata/') kata] resolutions or anything around software creation, you may watch me sometimes on #[a(href='https://www.twitch.tv/ippontech') ippontech] Twitch channel (replays on #[a(href='https://www.youtube.com/c/ippontechtv/videos') YouTube]).
  section
    h2 about:events
    p I encourage you to go to city communities around software, especially some of them like #[a(href='https://www.meetup.com/fr-FR/Software-Craftsmanship-Lyon/') Lyon Software Crafters] group.
  section
    h2 about:tikui
    p This website is created using #[a(href='https://www.tikui.org') Tikui], it's also a tool i've created to help developers to implement graphical web interfaces.
